@fontface {
  font-family: 'Roboto', sans-serif;
  src: url('https://fonts.googleapis.com/css?family=Roboto')
}

.bookmark-card {
  display: flex;
  flex-direction: row;
  background: white;
  padding: 0.5rem;
  margin: 0.5rem;
  border: 1px solid lightgrey;
  border-radius: 5px;
  max-width: 80vw;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
  cursor: pointer;
}
.bookmark-container {
  display: flex;
  flex-flow: row wrap;
  max-width: 100%;
  flex: 1;
  padding: 12px
}

.bookmark-item {
  flex-direction: column;
  display: flex;
  width: 50%;
  height:50%;
  flex: 1;
  padding: 12px
}

.bookmark-item p {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #ccc;
}

.bookmark-item2 {
  flex-direction: column;
  background-color: #ccc;
  display: flex;
  width: 50%;
  flex: 1;
  padding: 12px
}

.bookmark-edit {
  flex-direction: column;
  width: 100%;
  height:5%;
  padding-top: 1em;
  background: transparent;
}
.bookmark-edit button {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  color: #ccc;
  background: transparent;
  float: right;
  border: 0;
  outline: 0;
}
